body {
  background-color: rgb(244, 243, 238);
  font-family: 'Muli', sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  width: 100%;
}

.logo img {
  width: 50%;
  height: 50%;
}

.details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.details p {
  height: auto;
  text-align: center;
  line-height: 1rem;
}

 #contact {
  font-size: 2.5rem;
}

.copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: .7rem;
}
