body {
  background-color: rgb(244, 243, 238);
  font-family: 'Muli', sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  line-height: .5rem;
  padding-bottom: 3rem;
}

 #contact {
  font-size: 2.5rem;
}
